<details class="combat-options" data-co-root {{#if open}}open{{/if}}>
  <summary class="combat-options__summary">
    <i class="fas fa-swords"></i>
    <span>{{localize "WNG.CombatOptions"}}</span>
  </summary>

  <div class="combat-options__content">
    {{#if isMelee}}
    <div class="combat-options__group">
      <div class="combat-options__header">{{localize "WNG.MeleeOptions"}}</div>
      <div class="combat-options__option">
        <input data-co type="checkbox" name="allOutAttack" {{#if fields.allOutAttack}}checked{{/if}} {{#if disableAllOutAttack}}disabled{{/if}} />
        <span>{{t labels.allOutAttack}}</span>
      </div>
      <div class="combat-options__option">
        <input data-co type="checkbox" name="charging" {{#if fields.charging}}checked{{/if}} />
        <span>{{t labels.charge}}</span>
      </div>
    </div>
    {{/if}}

    {{#if isRanged}}
    <div class="combat-options__group">
      <div class="combat-options__header">{{localize "WNG.RangedOptions"}}</div>
      <div class="combat-options__option">
        <input data-co type="checkbox" name="aim" {{#if fields.aim}}checked{{/if}} />
        <span>{{concat (localize "WEAPON.AIM") " (+1 Die or ignore Engaged)"}}</span>
      </div>
      <div class="combat-options__option">
        <input data-co type="checkbox" name="brace" {{#if fields.brace}}checked{{/if}} {{#unless hasHeavy}}disabled{{/unless}} />
        <span>{{t labels.brace}}</span>
      </div>
      {{#if canPinning}}
      <div class="combat-options__option">
        <input data-co type="checkbox" name="pinning" {{#if fields.pinning}}checked{{/if}} />
        <span>
          {{t labels.pinning}}
          {{#if pinningResolve}}
            <br />
            <small>Resolve DN {{pinningResolve}}</small>
          {{/if}}
        </span>
      </div>
      {{/if}}
    </div>
    {{/if}}

    <div class="combat-options__group">
      <div class="combat-options__header">{{localize "WNG.GeneralOptions"}}</div>

      <label class="combat-options__option combat-options__option--select">
        <span>{{t labels.cover}}</span>
        <select data-co name="cover">
          {{#each coverOptions}}
            <option value="{{this.value}}" {{#if (eq ../fields.cover this.value)}}selected{{/if}}>
              {{this.label}}
            </option>
          {{/each}}
        </select>
      </label>

      <label class="combat-options__option combat-options__option--select">
        <span>{{t labels.vision}}</span>
        <select data-co name="visionPenalty">
          {{#each visionOptions}}
            <option value="{{this.value}}" {{#if (eq ../fields.visionPenalty this.value)}}selected{{/if}}>
              {{this.label}}
            </option>
          {{/each}}
        </select>
      </label>

      <label class="combat-options__option combat-options__option--select">
        <span>{{t labels.size}}</span>
        <select data-co name="sizeModifier">
          {{#each sizeOptions}}
            <option value="{{this.value}}" {{#if (eq ../fields.sizeModifier this.value)}}selected{{/if}}>
              {{this.label}}
            </option>
          {{/each}}
        </select>
      </label>

      <div class="combat-options__option">
        <input data-co type="checkbox" name="disarm" {{#if fields.disarm}}checked{{/if}} />
        <span>{{t labels.disarm}}</span>
      </div>
      {{#if fields.disarm}}
      <div class="combat-options__note">
        <span>{{t labels.disarmNoteHeading}}</span>
        <div>{{t labels.disarmNote}}</div>
      </div>
      {{/if}}

      <div class="combat-options__option combat-options__option--called-shot">
        <div class="combat-options__option">
          <input data-co type="checkbox" name="calledShot.enabled" {{#if fields.calledShot.enabled}}checked{{/if}} />
          <span>{{t labels.calledShot}}</span>
        </div>
        <div class="combat-options__called-shot {{#unless fields.calledShot.enabled}}is-hidden{{/unless}}">
          <label class="combat-options__option combat-options__option--select">
            <span>{{t labels.calledShotSize}}</span>
            <select data-co name="calledShot.size">
              {{#each calledShotSizes}}
                <option value="{{this.value}}" {{#if (eq ../fields.calledShot.size this.value)}}selected{{/if}}>
                  {{this.label}}
                </option>
              {{/each}}
            </select>
          </label>
        </div>
      </div>
    </div>
  </div>
</details>
